:root {
    --site-background-color: #444;
} 


body {
    background-color: aliceblue;
    
    padding: 0;
    margin: 0;
}

.header-section {
    background-color: var(--site-background-color);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.header-section .logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

.header-section .logo svg {
    height: 4rem;
    width: 4rem;
    fill: white;
}

.header-section .logo p {
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.header-section .user {
    margin-left: 10%;
    margin-right: 10%;
}

.header-section .user a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    background-color: aqua;
    margin-top: 5rem;
}

.spacer {
    height: 10rem;
}

.paragraph-frontpage {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.paragraph-frontpage .description-text {
    width: 25rem;
    margin-top: 3rem;
}

.description-text .description-content {
    text-align: justify;
}

.paragraph-frontpage .description-text .headline h1 {
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
}

.paragraph-frontpage .description-image img {
    width: 30rem;
    height: 500px;
    object-fit: fill;
    border-radius: 15%;
}

.fade-in {
    animation: fadeInRight 2s ease-in-out;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }